
**/appsettings.json
**/appsettings.*.json


!**/appsettings.json.example
!**/appsettings.Development.json.example


**/bin/
**/obj/


*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/
.vs/
.idea/


*.nupkg
packages/

.DS_Store
Thumbs.db


coverage/
*.coverage
*.coveragexml


*.pfx
*.key
*.pem


.dockerignore
