version: '3.8'

services:
  catalog-service:
    build:
      context: ./CatalogService
      dockerfile: Dockerfile
    ports:
      - "5000:80"

  delivery-service:
    build:
      context: ./DeliveryService
          
      dockerfile: Dockerfile
    ports:
      - "5001:80"
  order-service:
    build:
      context: ./OrderService
      dockerfile: Dockerfile
    ports:
      - "5002:80"

  user-service:
    build:
      context: ./UserService
      dockerfile: Dockerfile
    ports:
      - "5003:80"